// Colors
$main-bg: #F0FAF1;
$secondary-bg: #FFFDF8;

// Bootstrap Colors
$success: #96f796;

// Radius
$btn-border-radius: 0;
$btn-border-radius-lg: $btn-border-radius;

// Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Fonts